<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>u270FD</key>
	<string>u270F_D_.glif</string>
	<key>u270FD.inherited</key>
	<string>u270F_D_.inherited.glif</string>
	<key>uni4E49</key>
	<string>uni4E_49.glif</string>
	<key>uni4E49.JP</key>
	<string>uni4E_49.J_P_.glif</string>
	<key>uni4E49.noaxe</key>
	<string>uni4E_49.noaxe.glif</string>
	<key>uni4FC1</key>
	<string>uni4F_C_1.glif</string>
	<key>uni4FDE.inherited</key>
	<string>uni4F_D_E_.inherited.glif</string>
	<key>uni506F</key>
	<string>uni506F_.glif</string>
	<key>uni515D</key>
	<string>uni515D_.glif</string>
	<key>uni5241</key>
	<string>uni5241.glif</string>
	<key>uni53FC</key>
	<string>uni53F_C_.glif</string>
	<key>uni5406</key>
	<string>uni5406.glif</string>
	<key>uni5433</key>
	<string>uni5433.glif</string>
	<key>uni5478</key>
	<string>uni5478.glif</string>
	<key>uni549A</key>
	<string>uni549A_.glif</string>
	<key>uni552C</key>
	<string>uni552C_.glif</string>
	<key>uni5537</key>
	<string>uni5537.glif</string>
	<key>uni5555</key>
	<string>uni5555.glif</string>
	<key>uni55B3</key>
	<string>uni55B_3.glif</string>
	<key>uni55B3.JP</key>
	<string>uni55B_3.J_P_.glif</string>
	<key>uni55E1</key>
	<string>uni55E_1.glif</string>
	<key>uni567A.HK</key>
	<string>uni567A_.H_K_.glif</string>
	<key>uni57C2</key>
	<string>uni57C_2.glif</string>
	<key>uni5A1B</key>
	<string>uni5A_1B_.glif</string>
	<key>uni5AFA.HK</key>
	<string>uni5A_F_A_.H_K_.glif</string>
	<key>uni5B53</key>
	<string>uni5B_53.glif</string>
	<key>uni5B53.noaxe</key>
	<string>uni5B_53.noaxe.glif</string>
	<key>uni5BF3</key>
	<string>uni5B_F_3.glif</string>
	<key>uni5C44</key>
	<string>uni5C_44.glif</string>
	<key>uni5C44.JP</key>
	<string>uni5C_44.J_P_.glif</string>
	<key>uni609E</key>
	<string>uni609E_.glif</string>
	<key>uni60E6</key>
	<string>uni60E_6.glif</string>
	<key>uni6286</key>
	<string>uni6286.glif</string>
	<key>uni65B0.HK</key>
	<string>uni65B_0.H_K_.glif</string>
	<key>uni6757</key>
	<string>uni6757.glif</string>
	<key>uni6757.JP</key>
	<string>uni6757.J_P_.glif</string>
	<key>uni6AE5</key>
	<string>uni6A_E_5.glif</string>
	<key>uni6AEC.HK</key>
	<string>uni6A_E_C_.H_K_.glif</string>
	<key>uni6C26</key>
	<string>uni6C_26.glif</string>
	<key>uni6C26.HK</key>
	<string>uni6C_26.H_K_.glif</string>
	<key>uni6C61</key>
	<string>uni6C_61.glif</string>
	<key>uni752D</key>
	<string>uni752D_.glif</string>
	<key>uni7684.HK</key>
	<string>uni7684.H_K_.glif</string>
	<key>uni7CB5</key>
	<string>uni7C_B_5.glif</string>
	<key>uni7D00.HK</key>
	<string>uni7D_00.H_K_.glif</string>
	<key>uni7D00.HK2</key>
	<string>uni7D_00.H_K_2.glif</string>
	<key>uni7DD4</key>
	<string>uni7D_D_4.glif</string>
	<key>uni7E9F</key>
	<string>uni7E_9F_.glif</string>
	<key>uni85AA.HK</key>
	<string>uni85A_A_.H_K_.glif</string>
	<key>uni85AA.HK2</key>
	<string>uni85A_A_.H_K_2.glif</string>
	<key>uni88AB.HK</key>
	<string>uni88A_B_.H_K_.glif</string>
	<key>uni8921</key>
	<string>uni8921.glif</string>
	<key>uni8921.HK</key>
	<string>uni8921.H_K_.glif</string>
	<key>uni8921.HK2</key>
	<string>uni8921.H_K_2.glif</string>
	<key>uni8921.inherited</key>
	<string>uni8921.inherited.glif</string>
	<key>uni896C.HK</key>
	<string>uni896C_.H_K_.glif</string>
	<key>uni896F.HK</key>
	<string>uni896F_.H_K_.glif</string>
	<key>uni89AA.HK</key>
	<string>uni89A_A_.H_K_.glif</string>
	<key>uni8A18.HK</key>
	<string>uni8A_18.H_K_.glif</string>
	<key>uni8A18.HK2</key>
	<string>uni8A_18.H_K_2.glif</string>
	<key>uni8A68</key>
	<string>uni8A_68.glif</string>
	<key>uni8AA4</key>
	<string>uni8A_A_4.glif</string>
	<key>uni8BA0</key>
	<string>uni8B_A_0.glif</string>
	<key>uni8D77.HK</key>
	<string>uni8D_77.H_K_.glif</string>
	<key>uni90E8.HK</key>
	<string>uni90E_8.H_K_.glif</string>
	<key>uni92D8</key>
	<string>uni92D_8.glif</string>
	<key>uni93A6</key>
	<string>uni93A_6.glif</string>
	<key>uni9485</key>
	<string>uni9485.glif</string>
	<key>uni97F9.HK</key>
	<string>uni97F_9.H_K_.glif</string>
	<key>uni98CE</key>
	<string>uni98C_E_.glif</string>
	<key>uni9963</key>
	<string>uni9963.glif</string>
</dict>
</plist>
