{
.appVersion = "3151";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
}
);
customParameters = (
{
name = vendorID;
value = "";
},
{
name = panose;
value = (
2,
2,
0,
0,
0,
0,
0,
0,
0,
0
);
},
{
name = unicodeRanges;
value = (
0,
1,
7,
29,
36,
42,
43,
44,
45,
48,
49,
50,
51,
54,
55,
57,
59,
61,
65,
66,
68
);
},
{
name = codePageRanges;
value = (
"1252",
"1250",
"1251",
"932",
"bit 29",
"bit 30"
);
},
{
name = fsType;
value = (
);
},
{
name = ROS;
value = "Adobe-Identity-0";
},
{
name = glyphOrder;
value = (
);
}
);
date = "2023-07-28 18:05:35 +0000";
familyName = "WIPSHDC-Old-Traditional-Serif";
fontMaster = (
{
axesValues = (
0
);
customParameters = (
{
name = typoAscender;
value = 880;
},
{
name = typoDescender;
value = -120;
},
{
name = typoLineGap;
value = 0;
},
{
name = winAscent;
value = 1151;
},
{
name = winDescent;
value = 286;
},
{
name = hheaAscender;
value = 1151;
},
{
name = hheaDescender;
value = -286;
},
{
name = strikeoutPosition;
value = 308;
},
{
name = strikeoutSize;
value = 50;
}
);
iconName = Light;
id = m01;
metricValues = (
{
pos = 880;
},
{
pos = 729;
},
{
pos = 514;
},
{
over = -14;
},
{
pos = -120;
},
{
over = -16;
}
);
name = ExtraLight;
},
{
axesValues = (
1000
);
customParameters = (
{
name = typoAscender;
value = 880;
},
{
name = typoDescender;
value = -120;
},
{
name = typoLineGap;
value = 0;
},
{
name = winAscent;
value = 1151;
},
{
name = winDescent;
value = 286;
},
{
name = hheaAscender;
value = 1151;
},
{
name = hheaDescender;
value = -286;
},
{
name = strikeoutPosition;
value = 308;
},
{
name = strikeoutSize;
value = 50;
}
);
iconName = Bold;
id = "435FFEB5-1267-4A4D-8575-60B204161920";
metricValues = (
{
pos = 880;
},
{
pos = 729;
},
{
pos = 514;
},
{
over = -17;
},
{
pos = -120;
},
{
}
);
name = Heavy;
}
);
instances = (
{
axesValues = (
0
);
instanceInterpolations = {
m01 = 1;
};
name = ExtraLight;
weightClass = 200;
},
{
axesValues = (
95
);
instanceInterpolations = {
"435FFEB5-1267-4A4D-8575-60B204161920" = 0.095;
m01 = 0.905;
};
name = Light;
weightClass = 300;
},
{
axesValues = (
210
);
instanceInterpolations = {
"435FFEB5-1267-4A4D-8575-60B204161920" = 0.21;
m01 = 0.79;
};
name = Regular;
},
{
axesValues = (
360
);
instanceInterpolations = {
"435FFEB5-1267-4A4D-8575-60B204161920" = 0.36;
m01 = 0.64;
};
name = Medium;
weightClass = 500;
},
{
axesValues = (
510
);
instanceInterpolations = {
"435FFEB5-1267-4A4D-8575-60B204161920" = 0.51;
m01 = 0.49;
};
name = SemiBold;
weightClass = 600;
},
{
axesValues = (
730
);
instanceInterpolations = {
"435FFEB5-1267-4A4D-8575-60B204161920" = 0.73;
m01 = 0.27;
};
isBold = 1;
linkStyle = Regular;
name = Bold;
weightClass = 700;
},
{
axesValues = (
1000
);
instanceInterpolations = {
"435FFEB5-1267-4A4D-8575-60B204161920" = 1;
};
name = Heavy;
weightClass = 900;
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
type = "italic angle";
}
);
settings = {
disablesNiceNames = 1;
};
unitsPerEm = 1000;
versionMajor = 0;
versionMinor = 100;
}
