<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>ROS</string>
			<key>value</key>
			<string>Adobe-Identity-0</string>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>94DDBC6A-1627-4027-9125-871D02041BCD</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.master.name</key>
	<string>Heavy</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>1000</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>u31C7F.altpr</string>
		<string>uni35C1</string>
		<string>uni35D6</string>
		<string>uni37FB</string>
		<string>uni3863</string>
		<string>uni3863.HK</string>
		<string>uni38C3</string>
		<string>uni399B</string>
		<string>uni3A17</string>
		<string>uni3ABD</string>
		<string>uni3B0A</string>
		<string>uni3B0A.JP</string>
		<string>uni3B55</string>
		<string>uni3B7B</string>
		<string>uni3BEC</string>
		<string>uni3CD6</string>
		<string>uni3E74</string>
		<string>uni4102</string>
		<string>uni4102.JP</string>
		<string>uni41CA</string>
		<string>uni42A2</string>
		<string>uni44A2</string>
		<string>uni453B</string>
		<string>uni4871</string>
		<string>uni491E</string>
		<string>uni4930</string>
		<string>uni4B70</string>
		<string>uni4C07</string>
		<string>uni4CB3</string>
		<string>uni4D91</string>
		<string>uni4E08</string>
		<string>uni4E2B</string>
		<string>uni4E3D</string>
		<string>uni4E3D.HK</string>
		<string>uni4E3D.JP</string>
		<string>uni4E49</string>
		<string>uni4E49.JP</string>
		<string>uni4E60</string>
		<string>uni4E6A</string>
		<string>uni4EC5</string>
		<string>uni4F18</string>
		<string>uni4F41</string>
		<string>uni4F62</string>
		<string>uni4FD6</string>
		<string>uni4FF7</string>
		<string>uni500D.HK</string>
		<string>uni505D</string>
		<string>uni506E</string>
		<string>uni507A</string>
		<string>uni507B</string>
		<string>uni5087</string>
		<string>uni5087.HK</string>
		<string>uni50B3</string>
		<string>uni50B3.HK</string>
		<string>uni50BC</string>
		<string>uni50C1</string>
		<string>uni50D7</string>
		<string>uni50E0</string>
		<string>uni50FD</string>
		<string>uni512E</string>
		<string>uni515D</string>
		<string>uni516C</string>
		<string>uni5170</string>
		<string>uni5173</string>
		<string>uni5241</string>
		<string>uni524E</string>
		<string>uni524E.inherited</string>
		<string>uni5256.HK</string>
		<string>uni5262</string>
		<string>uni5278.HK</string>
		<string>uni529E</string>
		<string>uni52A8</string>
		<string>uni52B2.JP</string>
		<string>uni5340.inherited</string>
		<string>uni535F</string>
		<string>uni53D1</string>
		<string>uni53EA</string>
		<string>uni53FB</string>
		<string>uni53FC</string>
		<string>uni540D</string>
		<string>uni5419</string>
		<string>uni5423</string>
		<string>uni5437</string>
		<string>uni546F</string>
		<string>uni5482</string>
		<string>uni5485.HK</string>
		<string>uni5494</string>
		<string>uni549A</string>
		<string>uni54A3</string>
		<string>uni5512</string>
		<string>uni551E</string>
		<string>uni5525</string>
		<string>uni552C</string>
		<string>uni553F</string>
		<string>uni554B</string>
		<string>uni5555</string>
		<string>uni555F</string>
		<string>uni555F.HK</string>
		<string>uni5572</string>
		<string>uni5572.HK</string>
		<string>uni558C</string>
		<string>uni55B3</string>
		<string>uni55B3.JP</string>
		<string>uni55E1</string>
		<string>uni55E5</string>
		<string>uni55E6</string>
		<string>uni55E7</string>
		<string>uni55E8</string>
		<string>uni55EF</string>
		<string>uni561F</string>
		<string>uni562D</string>
		<string>uni562E</string>
		<string>uni5657</string>
		<string>uni5658</string>
		<string>uni5659</string>
		<string>uni5689</string>
		<string>uni56C6</string>
		<string>uni56C6.inherited</string>
		<string>uni56E2</string>
		<string>uni574B</string>
		<string>uni5792</string>
		<string>uni57A6</string>
		<string>uni57B9</string>
		<string>uni57B9.inherited</string>
		<string>uni57BA</string>
		<string>uni57EE</string>
		<string>uni57F9.HK</string>
		<string>uni5838</string>
		<string>uni587B</string>
		<string>uni587B.HK</string>
		<string>uni58C6</string>
		<string>uni594B</string>
		<string>uni5970</string>
		<string>uni5980</string>
		<string>uni5983.HK</string>
		<string>uni5A44.HK</string>
		<string>uni5AFA.HK</string>
		<string>uni5B24</string>
		<string>uni5B53</string>
		<string>uni5B6C</string>
		<string>uni5B6D</string>
		<string>uni5B72</string>
		<string>uni5B7B</string>
		<string>uni5BBE</string>
		<string>uni5BF3</string>
		<string>uni5C18</string>
		<string>uni5C49</string>
		<string>uni5C49.JP</string>
		<string>uni5C58</string>
		<string>uni5CCE</string>
		<string>uni5E42</string>
		<string>uni5E59</string>
		<string>uni5E59.HK</string>
		<string>uni5E60</string>
		<string>uni5EB4</string>
		<string>uni5F12</string>
		<string>uni5F12.inherited</string>
		<string>uni5F52.JP</string>
		<string>uni5F5E</string>
		<string>uni5FE7</string>
		<string>uni6001</string>
		<string>uni6039</string>
		<string>uni6073</string>
		<string>uni6090</string>
		<string>uni60E6</string>
		<string>uni611B.HK</string>
		<string>uni6123</string>
		<string>uni6123.inherited</string>
		<string>uni6154</string>
		<string>uni6154.HK</string>
		<string>uni61F1</string>
		<string>uni61F1.HK</string>
		<string>uni61F1.inherited</string>
		<string>uni6267.JP</string>
		<string>uni6270</string>
		<string>uni6272</string>
		<string>uni6274</string>
		<string>uni629A</string>
		<string>uni62B0</string>
		<string>uni62CB</string>
		<string>uni630E</string>
		<string>uni6315</string>
		<string>uni638A.HK</string>
		<string>uni63B0</string>
		<string>uni63CD</string>
		<string>uni63CD.JP</string>
		<string>uni63DE</string>
		<string>uni63DE.HK</string>
		<string>uni6423</string>
		<string>uni6441</string>
		<string>uni6475</string>
		<string>uni64A2.JP</string>
		<string>uni64CF</string>
		<string>uni64CF.HK</string>
		<string>uni64CF.inherited</string>
		<string>uni64EB</string>
		<string>uni650E</string>
		<string>uni6530</string>
		<string>uni6565</string>
		<string>uni6568</string>
		<string>uni6568.HK</string>
		<string>uni6579</string>
		<string>uni65F6</string>
		<string>uni6671</string>
		<string>uni66A8.HK</string>
		<string>uni66AF</string>
		<string>uni66AF.HK</string>
		<string>uni66DE</string>
		<string>uni66DE.inherited</string>
		<string>uni6757</string>
		<string>uni6757.JP</string>
		<string>uni675E</string>
		<string>uni675E.HK</string>
		<string>uni6779.JP</string>
		<string>uni6811</string>
		<string>uni6820</string>
		<string>uni6826</string>
		<string>uni6837</string>
		<string>uni683A</string>
		<string>uni6891</string>
		<string>uni68D3.HK</string>
		<string>uni6967</string>
		<string>uni6967.HK</string>
		<string>uni69A3</string>
		<string>uni69B5</string>
		<string>uni69B5.HK</string>
		<string>uni69E4</string>
		<string>uni6A57</string>
		<string>uni6A57.HK</string>
		<string>uni6AA0</string>
		<string>uni6AA0.HK</string>
		<string>uni6AA0.inherited</string>
		<string>uni6AE5</string>
		<string>uni6B5C</string>
		<string>uni6B76</string>
		<string>uni6B76.inherited</string>
		<string>uni6B95.HK</string>
		<string>uni6BF0</string>
		<string>uni6BF0.HK</string>
		<string>uni6C0B</string>
		<string>uni6C26</string>
		<string>uni6C26.HK</string>
		<string>uni6C49</string>
		<string>uni6C69</string>
		<string>uni6C8E</string>
		<string>uni6C8E.JP</string>
		<string>uni6C9B</string>
		<string>uni6C9B.inherited</string>
		<string>uni6CB7</string>
		<string>uni6CB7.JP</string>
		<string>uni6D42</string>
		<string>uni6DAA.HK</string>
		<string>uni6E03</string>
		<string>uni6E03.HK</string>
		<string>uni6E2A</string>
		<string>uni6E2A.inherited</string>
		<string>uni6E61</string>
		<string>uni6E61.inherited</string>
		<string>uni6F1C</string>
		<string>uni6F55</string>
		<string>uni6F79</string>
		<string>uni6FAB</string>
		<string>uni6FAB.inherited</string>
		<string>uni6FB4</string>
		<string>uni6FBF</string>
		<string>uni6FFF</string>
		<string>uni6FFF.inherited</string>
		<string>uni700E</string>
		<string>uni700E.HK</string>
		<string>uni700E.inherited</string>
		<string>uni7031</string>
		<string>uni7033</string>
		<string>uni7033.HK</string>
		<string>uni7067</string>
		<string>uni7071</string>
		<string>uni7074</string>
		<string>uni708B</string>
		<string>uni7093</string>
		<string>uni70A3</string>
		<string>uni70B7</string>
		<string>uni70C5</string>
		<string>uni70C6</string>
		<string>uni70CC</string>
		<string>uni70CD</string>
		<string>uni70D2</string>
		<string>uni70DA</string>
		<string>uni70EF</string>
		<string>uni70F3</string>
		<string>uni70F4</string>
		<string>uni710A</string>
		<string>uni7119.HK</string>
		<string>uni711F</string>
		<string>uni7128</string>
		<string>uni712C</string>
		<string>uni713A</string>
		<string>uni713B</string>
		<string>uni7142</string>
		<string>uni7144</string>
		<string>uni714D</string>
		<string>uni714F</string>
		<string>uni7154</string>
		<string>uni7158</string>
		<string>uni715F</string>
		<string>uni7170</string>
		<string>uni7178</string>
		<string>uni717C</string>
		<string>uni7181</string>
		<string>uni7182</string>
		<string>uni71BC</string>
		<string>uni71BD</string>
		<string>uni71C6</string>
		<string>uni71E4</string>
		<string>uni71E4.inherited</string>
		<string>uni71E8</string>
		<string>uni7203</string>
		<string>uni7205</string>
		<string>uni720F</string>
		<string>uni721E</string>
		<string>uni7223</string>
		<string>uni7227</string>
		<string>uni7237</string>
		<string>uni724A</string>
		<string>uni72A1</string>
		<string>uni72A1.inherited</string>
		<string>uni72C5</string>
		<string>uni733C</string>
		<string>uni735B</string>
		<string>uni7373</string>
		<string>uni7398.HK2</string>
		<string>uni73A4</string>
		<string>uni740D</string>
		<string>uni7423</string>
		<string>uni7423.HK</string>
		<string>uni743C</string>
		<string>uni744C</string>
		<string>uni74FF.HK</string>
		<string>uni7535</string>
		<string>uni7684.HK</string>
		<string>uni76C5</string>
		<string>uni76DA</string>
		<string>uni770F</string>
		<string>uni7732</string>
		<string>uni7781</string>
		<string>uni77A8</string>
		<string>uni77CE</string>
		<string>uni77D3.HK</string>
		<string>uni781F</string>
		<string>uni7838</string>
		<string>uni7889</string>
		<string>uni789A.HK</string>
		<string>uni78B0</string>
		<string>uni78B0.inherited</string>
		<string>uni78F0</string>
		<string>uni78F1</string>
		<string>uni791D</string>
		<string>uni7923</string>
		<string>uni7923.HK</string>
		<string>uni7923.inherited</string>
		<string>uni7964</string>
		<string>uni7987</string>
		<string>uni799A</string>
		<string>uni79A4</string>
		<string>uni79EE</string>
		<string>uni7A2A</string>
		<string>uni7A2C</string>
		<string>uni7AB8</string>
		<string>uni7ACB</string>
		<string>uni7AFC</string>
		<string>uni7B01</string>
		<string>uni7B1A</string>
		<string>uni7B1D</string>
		<string>uni7B42</string>
		<string>uni7B44</string>
		<string>uni7B58</string>
		<string>uni7B63</string>
		<string>uni7B78</string>
		<string>uni7B82</string>
		<string>uni7BA3</string>
		<string>uni7BD8</string>
		<string>uni7BE2</string>
		<string>uni7BF0.HK</string>
		<string>uni7BFB</string>
		<string>uni7BFD</string>
		<string>uni7BFF</string>
		<string>uni7C0A</string>
		<string>uni7C1D</string>
		<string>uni7C35</string>
		<string>uni7C8E</string>
		<string>uni7CCB</string>
		<string>uni7CD0</string>
		<string>uni7D00.HK</string>
		<string>uni7D00.HK2</string>
		<string>uni7D29</string>
		<string>uni7D6D</string>
		<string>uni7DB9</string>
		<string>uni7DC1</string>
		<string>uni7DD4</string>
		<string>uni7DDF</string>
		<string>uni7E16</string>
		<string>uni7E16.HK</string>
		<string>uni7E3D</string>
		<string>uni7E4F</string>
		<string>uni7E77</string>
		<string>uni7E9F</string>
		<string>uni7EA2</string>
		<string>uni7ECF</string>
		<string>uni7ED9</string>
		<string>uni7F7C</string>
		<string>uni7F88</string>
		<string>uni7FF1</string>
		<string>uni8054</string>
		<string>uni808A</string>
		<string>uni8090</string>
		<string>uni8095</string>
		<string>uni80C9</string>
		<string>uni80D1</string>
		<string>uni80E3</string>
		<string>uni8115</string>
		<string>uni8119</string>
		<string>uni812A</string>
		<string>uni8134</string>
		<string>uni8142</string>
		<string>uni8144</string>
		<string>uni8156</string>
		<string>uni815C</string>
		<string>uni8162</string>
		<string>uni816C</string>
		<string>uni81AB</string>
		<string>uni81D0</string>
		<string>uni81E2</string>
		<string>uni8215</string>
		<string>uni827C</string>
		<string>uni8285</string>
		<string>uni8291.HK</string>
		<string>uni8291.inherited</string>
		<string>uni829E</string>
		<string>uni82B5</string>
		<string>uni82C3</string>
		<string>uni82D6</string>
		<string>uni82F2</string>
		<string>uni82F5</string>
		<string>uni82F8</string>
		<string>uni82FC</string>
		<string>uni8319</string>
		<string>uni8320</string>
		<string>uni8326</string>
		<string>uni833F</string>
		<string>uni8341</string>
		<string>uni834B</string>
		<string>uni8374</string>
		<string>uni8381</string>
		<string>uni838B</string>
		<string>uni8390</string>
		<string>uni8397</string>
		<string>uni83A4</string>
		<string>uni83AE</string>
		<string>uni83AF</string>
		<string>uni83C4</string>
		<string>uni83CB</string>
		<string>uni83D7</string>
		<string>uni83E9.HK</string>
		<string>uni83E9.HK2</string>
		<string>uni83E9.inherited</string>
		<string>uni8500.HK</string>
		<string>uni8500.HK2</string>
		<string>uni8500.inherited</string>
		<string>uni87D1.HK</string>
		<string>uni8914</string>
		<string>uni8921</string>
		<string>uni8921.HK</string>
		<string>uni898A</string>
		<string>uni898A.inherited</string>
		<string>uni8A18.HK</string>
		<string>uni8A18.HK2</string>
		<string>uni8A4F</string>
		<string>uni8B40</string>
		<string>uni8BA0</string>
		<string>uni8BA1</string>
		<string>uni8BA4</string>
		<string>uni8BA9</string>
		<string>uni8BBE</string>
		<string>uni8BDD</string>
		<string>uni8BED</string>
		<string>uni8BF4</string>
		<string>uni8BF7</string>
		<string>uni8BFE</string>
		<string>uni8C01</string>
		<string>uni8CE0.HK</string>
		<string>uni8D77.HK</string>
		<string>uni8D77.JP</string>
		<string>uni8DB4</string>
		<string>uni8E23.HK</string>
		<string>uni8E29</string>
		<string>uni8E2B</string>
		<string>uni8E2B.inherited</string>
		<string>uni8E66</string>
		<string>uni8E66.JP</string>
		<string>uni8F49.HK</string>
		<string>uni8FCC</string>
		<string>uni8FCC.HK</string>
		<string>uni8FD8</string>
		<string>uni9024</string>
		<string>uni9094</string>
		<string>uni90E8.HK</string>
		<string>uni914C.HK</string>
		<string>uni914D</string>
		<string>uni914D.HK2</string>
		<string>uni9185.HK</string>
		<string>uni9202</string>
		<string>uni9203</string>
		<string>uni922A</string>
		<string>uni9231</string>
		<string>uni924C</string>
		<string>uni9254</string>
		<string>uni92A3</string>
		<string>uni92A6</string>
		<string>uni92AA</string>
		<string>uni92C9</string>
		<string>uni92CA</string>
		<string>uni92E6</string>
		<string>uni92EF</string>
		<string>uni9307</string>
		<string>uni9307.HK</string>
		<string>uni9312</string>
		<string>uni9338</string>
		<string>uni933C</string>
		<string>uni934F</string>
		<string>uni934F.inherited</string>
		<string>uni9379</string>
		<string>uni9385</string>
		<string>uni93A6</string>
		<string>uni93B3</string>
		<string>uni93C0</string>
		<string>uni93F9</string>
		<string>uni93F9.HK</string>
		<string>uni9420</string>
		<string>uni9424</string>
		<string>uni9427</string>
		<string>uni9440</string>
		<string>uni9440.HK</string>
		<string>uni9476</string>
		<string>uni9476.HK</string>
		<string>uni9485</string>
		<string>uni9595</string>
		<string>uni9595.JP</string>
		<string>uni95AA</string>
		<string>uni95E8</string>
		<string>uni95EE</string>
		<string>uni966A.HK</string>
		<string>uni979B</string>
		<string>uni979B.HK</string>
		<string>uni97F9</string>
		<string>uni97F9.HK</string>
		<string>uni98CE</string>
		<string>uni98DE</string>
		<string>uni9963</string>
		<string>uni996D</string>
		<string>uni9971</string>
		<string>uni9A6C</string>
		<string>uni9B1E</string>
		<string>uni9D4B</string>
		<string>uni9EB5</string>
		<string>uni9EBA</string>
		<string>uni9F22</string>
		<string>uni9F98</string>
		<string>uni9F98.HK</string>
		<string>uni9F99</string>
		<string>uni9FC5</string>
		<string>uni9FC5.JP</string>
		<string>uni9FC6</string>
		<string>u20EAC</string>
		<string>u20EAC.HK</string>
		<string>u2124F</string>
		<string>u216B1</string>
		<string>u21D3E</string>
		<string>u21D46</string>
		<string>u23350</string>
		<string>u248F1</string>
		<string>u26B0A</string>
		<string>u26B0A.inherited</string>
		<string>u270FD</string>
		<string>u270FD.inherited</string>
		<string>u2C317</string>
		<string>u31C7F</string>
	</array>
</dict>
</plist>
