<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>uni304D</key>
	<string>uni304D_.glif</string>
	<key>uni304Duni309A-V</key>
	<string>uni304D_uni309A_-V_.glif</string>
	<key>uni304E</key>
	<string>uni304E_.glif</string>
	<key>uni3055</key>
	<string>uni3055.glif</string>
	<key>uni3056</key>
	<string>uni3056.glif</string>
	<key>uni30A9</key>
	<string>uni30A_9.glif</string>
	<key>uni30AA</key>
	<string>uni30A_A_.glif</string>
	<key>uni30AAuni3099-V</key>
	<string>uni30A_A_uni3099-V_.glif</string>
	<key>uni30DB</key>
	<string>uni30D_B_.glif</string>
	<key>uni30DC</key>
	<string>uni30D_C_.glif</string>
	<key>uni30DD</key>
	<string>uni30D_D_.glif</string>
	<key>uni331E</key>
	<string>uni331E_.glif</string>
	<key>uni331E-V</key>
	<string>uni331E_-V_.glif</string>
	<key>uni3342</key>
	<string>uni3342.glif</string>
	<key>uni3342-V</key>
	<string>uni3342-V_.glif</string>
	<key>uniFF75</key>
	<string>uniF_F_75.glif</string>
	<key>uniFF8E</key>
	<string>uniF_F_8E_.glif</string>
</dict>
</plist>
