<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>u20EAC</key>
	<string>u20E_A_C_.glif</string>
	<key>u20EAC.HK</key>
	<string>u20E_A_C_.H_K_.glif</string>
	<key>u2124F</key>
	<string>u2124F_.glif</string>
	<key>u216B1</key>
	<string>u216B_1.glif</string>
	<key>u21D3E</key>
	<string>u21D_3E_.glif</string>
	<key>u21D46</key>
	<string>u21D_46.glif</string>
	<key>u23350</key>
	<string>u23350.glif</string>
	<key>u248F1</key>
	<string>u248F_1.glif</string>
	<key>u26B0A</key>
	<string>u26B_0A_.glif</string>
	<key>u26B0A.inherited</key>
	<string>u26B_0A_.inherited.glif</string>
	<key>u270FD</key>
	<string>u270F_D_.glif</string>
	<key>u270FD.inherited</key>
	<string>u270F_D_.inherited.glif</string>
	<key>u2C317</key>
	<string>u2C_317.glif</string>
	<key>u31C7F</key>
	<string>u31C_7F_.glif</string>
	<key>u31C7F.altpr</key>
	<string>u31C_7F_.altpr.glif</string>
	<key>uni35C1</key>
	<string>uni35C_1.glif</string>
	<key>uni35D6</key>
	<string>uni35D_6.glif</string>
	<key>uni37FB</key>
	<string>uni37F_B_.glif</string>
	<key>uni3863</key>
	<string>uni3863.glif</string>
	<key>uni3863.HK</key>
	<string>uni3863.H_K_.glif</string>
	<key>uni38C3</key>
	<string>uni38C_3.glif</string>
	<key>uni399B</key>
	<string>uni399B_.glif</string>
	<key>uni3A17</key>
	<string>uni3A_17.glif</string>
	<key>uni3ABD</key>
	<string>uni3A_B_D_.glif</string>
	<key>uni3B0A</key>
	<string>uni3B_0A_.glif</string>
	<key>uni3B0A.JP</key>
	<string>uni3B_0A_.J_P_.glif</string>
	<key>uni3B55</key>
	<string>uni3B_55.glif</string>
	<key>uni3B7B</key>
	<string>uni3B_7B_.glif</string>
	<key>uni3BEC</key>
	<string>uni3B_E_C_.glif</string>
	<key>uni3CD6</key>
	<string>uni3C_D_6.glif</string>
	<key>uni3E74</key>
	<string>uni3E_74.glif</string>
	<key>uni4102</key>
	<string>uni4102.glif</string>
	<key>uni4102.JP</key>
	<string>uni4102.J_P_.glif</string>
	<key>uni41CA</key>
	<string>uni41C_A_.glif</string>
	<key>uni42A2</key>
	<string>uni42A_2.glif</string>
	<key>uni44A2</key>
	<string>uni44A_2.glif</string>
	<key>uni453B</key>
	<string>uni453B_.glif</string>
	<key>uni4871</key>
	<string>uni4871.glif</string>
	<key>uni491E</key>
	<string>uni491E_.glif</string>
	<key>uni4930</key>
	<string>uni4930.glif</string>
	<key>uni4B70</key>
	<string>uni4B_70.glif</string>
	<key>uni4C07</key>
	<string>uni4C_07.glif</string>
	<key>uni4CB3</key>
	<string>uni4C_B_3.glif</string>
	<key>uni4D91</key>
	<string>uni4D_91.glif</string>
	<key>uni4E08</key>
	<string>uni4E_08.glif</string>
	<key>uni4E2B</key>
	<string>uni4E_2B_.glif</string>
	<key>uni4E3D</key>
	<string>uni4E_3D_.glif</string>
	<key>uni4E3D.HK</key>
	<string>uni4E_3D_.H_K_.glif</string>
	<key>uni4E3D.JP</key>
	<string>uni4E_3D_.J_P_.glif</string>
	<key>uni4E49</key>
	<string>uni4E_49.glif</string>
	<key>uni4E49.JP</key>
	<string>uni4E_49.J_P_.glif</string>
	<key>uni4E60</key>
	<string>uni4E_60.glif</string>
	<key>uni4E6A</key>
	<string>uni4E_6A_.glif</string>
	<key>uni4EC5</key>
	<string>uni4E_C_5.glif</string>
	<key>uni4F18</key>
	<string>uni4F_18.glif</string>
	<key>uni4F41</key>
	<string>uni4F_41.glif</string>
	<key>uni4F62</key>
	<string>uni4F_62.glif</string>
	<key>uni4FD6</key>
	<string>uni4F_D_6.glif</string>
	<key>uni4FF7</key>
	<string>uni4F_F_7.glif</string>
	<key>uni500D.HK</key>
	<string>uni500D_.H_K_.glif</string>
	<key>uni505D</key>
	<string>uni505D_.glif</string>
	<key>uni506E</key>
	<string>uni506E_.glif</string>
	<key>uni507A</key>
	<string>uni507A_.glif</string>
	<key>uni507B</key>
	<string>uni507B_.glif</string>
	<key>uni5087</key>
	<string>uni5087.glif</string>
	<key>uni5087.HK</key>
	<string>uni5087.H_K_.glif</string>
	<key>uni50B3</key>
	<string>uni50B_3.glif</string>
	<key>uni50B3.HK</key>
	<string>uni50B_3.H_K_.glif</string>
	<key>uni50BC</key>
	<string>uni50B_C_.glif</string>
	<key>uni50C1</key>
	<string>uni50C_1.glif</string>
	<key>uni50D7</key>
	<string>uni50D_7.glif</string>
	<key>uni50E0</key>
	<string>uni50E_0.glif</string>
	<key>uni50FD</key>
	<string>uni50F_D_.glif</string>
	<key>uni512E</key>
	<string>uni512E_.glif</string>
	<key>uni515D</key>
	<string>uni515D_.glif</string>
	<key>uni516C</key>
	<string>uni516C_.glif</string>
	<key>uni5170</key>
	<string>uni5170.glif</string>
	<key>uni5173</key>
	<string>uni5173.glif</string>
	<key>uni5241</key>
	<string>uni5241.glif</string>
	<key>uni524E</key>
	<string>uni524E_.glif</string>
	<key>uni524E.inherited</key>
	<string>uni524E_.inherited.glif</string>
	<key>uni5256.HK</key>
	<string>uni5256.H_K_.glif</string>
	<key>uni5262</key>
	<string>uni5262.glif</string>
	<key>uni5278.HK</key>
	<string>uni5278.H_K_.glif</string>
	<key>uni529E</key>
	<string>uni529E_.glif</string>
	<key>uni52A8</key>
	<string>uni52A_8.glif</string>
	<key>uni52B2.JP</key>
	<string>uni52B_2.J_P_.glif</string>
	<key>uni5340.inherited</key>
	<string>uni5340.inherited.glif</string>
	<key>uni535F</key>
	<string>uni535F_.glif</string>
	<key>uni53D1</key>
	<string>uni53D_1.glif</string>
	<key>uni53EA</key>
	<string>uni53E_A_.glif</string>
	<key>uni53FB</key>
	<string>uni53F_B_.glif</string>
	<key>uni53FC</key>
	<string>uni53F_C_.glif</string>
	<key>uni540D</key>
	<string>uni540D_.glif</string>
	<key>uni5419</key>
	<string>uni5419.glif</string>
	<key>uni5423</key>
	<string>uni5423.glif</string>
	<key>uni5437</key>
	<string>uni5437.glif</string>
	<key>uni546F</key>
	<string>uni546F_.glif</string>
	<key>uni5482</key>
	<string>uni5482.glif</string>
	<key>uni5485.HK</key>
	<string>uni5485.H_K_.glif</string>
	<key>uni5494</key>
	<string>uni5494.glif</string>
	<key>uni549A</key>
	<string>uni549A_.glif</string>
	<key>uni54A3</key>
	<string>uni54A_3.glif</string>
	<key>uni5512</key>
	<string>uni5512.glif</string>
	<key>uni551E</key>
	<string>uni551E_.glif</string>
	<key>uni5525</key>
	<string>uni5525.glif</string>
	<key>uni552C</key>
	<string>uni552C_.glif</string>
	<key>uni553F</key>
	<string>uni553F_.glif</string>
	<key>uni554B</key>
	<string>uni554B_.glif</string>
	<key>uni5555</key>
	<string>uni5555.glif</string>
	<key>uni555F</key>
	<string>uni555F_.glif</string>
	<key>uni555F.HK</key>
	<string>uni555F_.H_K_.glif</string>
	<key>uni5572</key>
	<string>uni5572.glif</string>
	<key>uni5572.HK</key>
	<string>uni5572.H_K_.glif</string>
	<key>uni558C</key>
	<string>uni558C_.glif</string>
	<key>uni55B3</key>
	<string>uni55B_3.glif</string>
	<key>uni55B3.JP</key>
	<string>uni55B_3.J_P_.glif</string>
	<key>uni55E1</key>
	<string>uni55E_1.glif</string>
	<key>uni55E5</key>
	<string>uni55E_5.glif</string>
	<key>uni55E6</key>
	<string>uni55E_6.glif</string>
	<key>uni55E7</key>
	<string>uni55E_7.glif</string>
	<key>uni55E8</key>
	<string>uni55E_8.glif</string>
	<key>uni55EF</key>
	<string>uni55E_F_.glif</string>
	<key>uni561F</key>
	<string>uni561F_.glif</string>
	<key>uni562D</key>
	<string>uni562D_.glif</string>
	<key>uni562E</key>
	<string>uni562E_.glif</string>
	<key>uni5657</key>
	<string>uni5657.glif</string>
	<key>uni5658</key>
	<string>uni5658.glif</string>
	<key>uni5659</key>
	<string>uni5659.glif</string>
	<key>uni5689</key>
	<string>uni5689.glif</string>
	<key>uni56C6</key>
	<string>uni56C_6.glif</string>
	<key>uni56C6.inherited</key>
	<string>uni56C_6.inherited.glif</string>
	<key>uni56E2</key>
	<string>uni56E_2.glif</string>
	<key>uni574B</key>
	<string>uni574B_.glif</string>
	<key>uni5792</key>
	<string>uni5792.glif</string>
	<key>uni57A6</key>
	<string>uni57A_6.glif</string>
	<key>uni57B9</key>
	<string>uni57B_9.glif</string>
	<key>uni57B9.inherited</key>
	<string>uni57B_9.inherited.glif</string>
	<key>uni57BA</key>
	<string>uni57B_A_.glif</string>
	<key>uni57EE</key>
	<string>uni57E_E_.glif</string>
	<key>uni57F9.HK</key>
	<string>uni57F_9.H_K_.glif</string>
	<key>uni5838</key>
	<string>uni5838.glif</string>
	<key>uni587B</key>
	<string>uni587B_.glif</string>
	<key>uni587B.HK</key>
	<string>uni587B_.H_K_.glif</string>
	<key>uni58C6</key>
	<string>uni58C_6.glif</string>
	<key>uni594B</key>
	<string>uni594B_.glif</string>
	<key>uni5970</key>
	<string>uni5970.glif</string>
	<key>uni5980</key>
	<string>uni5980.glif</string>
	<key>uni5983.HK</key>
	<string>uni5983.H_K_.glif</string>
	<key>uni5A44.HK</key>
	<string>uni5A_44.H_K_.glif</string>
	<key>uni5AFA.HK</key>
	<string>uni5A_F_A_.H_K_.glif</string>
	<key>uni5B24</key>
	<string>uni5B_24.glif</string>
	<key>uni5B53</key>
	<string>uni5B_53.glif</string>
	<key>uni5B6C</key>
	<string>uni5B_6C_.glif</string>
	<key>uni5B6D</key>
	<string>uni5B_6D_.glif</string>
	<key>uni5B72</key>
	<string>uni5B_72.glif</string>
	<key>uni5B7B</key>
	<string>uni5B_7B_.glif</string>
	<key>uni5BBE</key>
	<string>uni5B_B_E_.glif</string>
	<key>uni5BF3</key>
	<string>uni5B_F_3.glif</string>
	<key>uni5C18</key>
	<string>uni5C_18.glif</string>
	<key>uni5C49</key>
	<string>uni5C_49.glif</string>
	<key>uni5C49.JP</key>
	<string>uni5C_49.J_P_.glif</string>
	<key>uni5C58</key>
	<string>uni5C_58.glif</string>
	<key>uni5CCE</key>
	<string>uni5C_C_E_.glif</string>
	<key>uni5E42</key>
	<string>uni5E_42.glif</string>
	<key>uni5E59</key>
	<string>uni5E_59.glif</string>
	<key>uni5E59.HK</key>
	<string>uni5E_59.H_K_.glif</string>
	<key>uni5E60</key>
	<string>uni5E_60.glif</string>
	<key>uni5EB4</key>
	<string>uni5E_B_4.glif</string>
	<key>uni5F12</key>
	<string>uni5F_12.glif</string>
	<key>uni5F12.inherited</key>
	<string>uni5F_12.inherited.glif</string>
	<key>uni5F52.JP</key>
	<string>uni5F_52.J_P_.glif</string>
	<key>uni5F5E</key>
	<string>uni5F_5E_.glif</string>
	<key>uni5FE7</key>
	<string>uni5F_E_7.glif</string>
	<key>uni6001</key>
	<string>uni6001.glif</string>
	<key>uni6039</key>
	<string>uni6039.glif</string>
	<key>uni6073</key>
	<string>uni6073.glif</string>
	<key>uni6090</key>
	<string>uni6090.glif</string>
	<key>uni60E6</key>
	<string>uni60E_6.glif</string>
	<key>uni611B.HK</key>
	<string>uni611B_.H_K_.glif</string>
	<key>uni6123</key>
	<string>uni6123.glif</string>
	<key>uni6123.inherited</key>
	<string>uni6123.inherited.glif</string>
	<key>uni6154</key>
	<string>uni6154.glif</string>
	<key>uni6154.HK</key>
	<string>uni6154.H_K_.glif</string>
	<key>uni61F1</key>
	<string>uni61F_1.glif</string>
	<key>uni61F1.HK</key>
	<string>uni61F_1.H_K_.glif</string>
	<key>uni61F1.inherited</key>
	<string>uni61F_1.inherited.glif</string>
	<key>uni6267.JP</key>
	<string>uni6267.J_P_.glif</string>
	<key>uni6270</key>
	<string>uni6270.glif</string>
	<key>uni6272</key>
	<string>uni6272.glif</string>
	<key>uni6274</key>
	<string>uni6274.glif</string>
	<key>uni629A</key>
	<string>uni629A_.glif</string>
	<key>uni62B0</key>
	<string>uni62B_0.glif</string>
	<key>uni62CB</key>
	<string>uni62C_B_.glif</string>
	<key>uni630E</key>
	<string>uni630E_.glif</string>
	<key>uni6315</key>
	<string>uni6315.glif</string>
	<key>uni638A.HK</key>
	<string>uni638A_.H_K_.glif</string>
	<key>uni63B0</key>
	<string>uni63B_0.glif</string>
	<key>uni63CD</key>
	<string>uni63C_D_.glif</string>
	<key>uni63CD.JP</key>
	<string>uni63C_D_.J_P_.glif</string>
	<key>uni63DE</key>
	<string>uni63D_E_.glif</string>
	<key>uni63DE.HK</key>
	<string>uni63D_E_.H_K_.glif</string>
	<key>uni6423</key>
	<string>uni6423.glif</string>
	<key>uni6441</key>
	<string>uni6441.glif</string>
	<key>uni6475</key>
	<string>uni6475.glif</string>
	<key>uni64A2.JP</key>
	<string>uni64A_2.J_P_.glif</string>
	<key>uni64CF</key>
	<string>uni64C_F_.glif</string>
	<key>uni64CF.HK</key>
	<string>uni64C_F_.H_K_.glif</string>
	<key>uni64CF.inherited</key>
	<string>uni64C_F_.inherited.glif</string>
	<key>uni64EB</key>
	<string>uni64E_B_.glif</string>
	<key>uni650E</key>
	<string>uni650E_.glif</string>
	<key>uni6530</key>
	<string>uni6530.glif</string>
	<key>uni6565</key>
	<string>uni6565.glif</string>
	<key>uni6568</key>
	<string>uni6568.glif</string>
	<key>uni6568.HK</key>
	<string>uni6568.H_K_.glif</string>
	<key>uni6579</key>
	<string>uni6579.glif</string>
	<key>uni65F6</key>
	<string>uni65F_6.glif</string>
	<key>uni6671</key>
	<string>uni6671.glif</string>
	<key>uni66A8.HK</key>
	<string>uni66A_8.H_K_.glif</string>
	<key>uni66AF</key>
	<string>uni66A_F_.glif</string>
	<key>uni66AF.HK</key>
	<string>uni66A_F_.H_K_.glif</string>
	<key>uni66DE</key>
	<string>uni66D_E_.glif</string>
	<key>uni66DE.inherited</key>
	<string>uni66D_E_.inherited.glif</string>
	<key>uni6757</key>
	<string>uni6757.glif</string>
	<key>uni6757.JP</key>
	<string>uni6757.J_P_.glif</string>
	<key>uni675E</key>
	<string>uni675E_.glif</string>
	<key>uni675E.HK</key>
	<string>uni675E_.H_K_.glif</string>
	<key>uni6779.JP</key>
	<string>uni6779.J_P_.glif</string>
	<key>uni6811</key>
	<string>uni6811.glif</string>
	<key>uni6820</key>
	<string>uni6820.glif</string>
	<key>uni6826</key>
	<string>uni6826.glif</string>
	<key>uni6837</key>
	<string>uni6837.glif</string>
	<key>uni683A</key>
	<string>uni683A_.glif</string>
	<key>uni6891</key>
	<string>uni6891.glif</string>
	<key>uni68D3.HK</key>
	<string>uni68D_3.H_K_.glif</string>
	<key>uni6967</key>
	<string>uni6967.glif</string>
	<key>uni6967.HK</key>
	<string>uni6967.H_K_.glif</string>
	<key>uni69A3</key>
	<string>uni69A_3.glif</string>
	<key>uni69B5</key>
	<string>uni69B_5.glif</string>
	<key>uni69B5.HK</key>
	<string>uni69B_5.H_K_.glif</string>
	<key>uni69E4</key>
	<string>uni69E_4.glif</string>
	<key>uni6A57</key>
	<string>uni6A_57.glif</string>
	<key>uni6A57.HK</key>
	<string>uni6A_57.H_K_.glif</string>
	<key>uni6AA0</key>
	<string>uni6A_A_0.glif</string>
	<key>uni6AA0.HK</key>
	<string>uni6A_A_0.H_K_.glif</string>
	<key>uni6AA0.inherited</key>
	<string>uni6A_A_0.inherited.glif</string>
	<key>uni6AE5</key>
	<string>uni6A_E_5.glif</string>
	<key>uni6B5C</key>
	<string>uni6B_5C_.glif</string>
	<key>uni6B76</key>
	<string>uni6B_76.glif</string>
	<key>uni6B76.inherited</key>
	<string>uni6B_76.inherited.glif</string>
	<key>uni6B95.HK</key>
	<string>uni6B_95.H_K_.glif</string>
	<key>uni6BF0</key>
	<string>uni6B_F_0.glif</string>
	<key>uni6BF0.HK</key>
	<string>uni6B_F_0.H_K_.glif</string>
	<key>uni6C0B</key>
	<string>uni6C_0B_.glif</string>
	<key>uni6C26</key>
	<string>uni6C_26.glif</string>
	<key>uni6C26.HK</key>
	<string>uni6C_26.H_K_.glif</string>
	<key>uni6C49</key>
	<string>uni6C_49.glif</string>
	<key>uni6C69</key>
	<string>uni6C_69.glif</string>
	<key>uni6C8E</key>
	<string>uni6C_8E_.glif</string>
	<key>uni6C8E.JP</key>
	<string>uni6C_8E_.J_P_.glif</string>
	<key>uni6C9B</key>
	<string>uni6C_9B_.glif</string>
	<key>uni6C9B.inherited</key>
	<string>uni6C_9B_.inherited.glif</string>
	<key>uni6CB7</key>
	<string>uni6C_B_7.glif</string>
	<key>uni6CB7.JP</key>
	<string>uni6C_B_7.J_P_.glif</string>
	<key>uni6D42</key>
	<string>uni6D_42.glif</string>
	<key>uni6DAA.HK</key>
	<string>uni6D_A_A_.H_K_.glif</string>
	<key>uni6E03</key>
	<string>uni6E_03.glif</string>
	<key>uni6E03.HK</key>
	<string>uni6E_03.H_K_.glif</string>
	<key>uni6E2A</key>
	<string>uni6E_2A_.glif</string>
	<key>uni6E2A.inherited</key>
	<string>uni6E_2A_.inherited.glif</string>
	<key>uni6E61</key>
	<string>uni6E_61.glif</string>
	<key>uni6E61.inherited</key>
	<string>uni6E_61.inherited.glif</string>
	<key>uni6F1C</key>
	<string>uni6F_1C_.glif</string>
	<key>uni6F55</key>
	<string>uni6F_55.glif</string>
	<key>uni6F79</key>
	<string>uni6F_79.glif</string>
	<key>uni6FAB</key>
	<string>uni6F_A_B_.glif</string>
	<key>uni6FAB.inherited</key>
	<string>uni6F_A_B_.inherited.glif</string>
	<key>uni6FB4</key>
	<string>uni6F_B_4.glif</string>
	<key>uni6FBF</key>
	<string>uni6F_B_F_.glif</string>
	<key>uni6FFF</key>
	<string>uni6F_F_F_.glif</string>
	<key>uni6FFF.inherited</key>
	<string>uni6F_F_F_.inherited.glif</string>
	<key>uni700E</key>
	<string>uni700E_.glif</string>
	<key>uni700E.HK</key>
	<string>uni700E_.H_K_.glif</string>
	<key>uni700E.inherited</key>
	<string>uni700E_.inherited.glif</string>
	<key>uni7031</key>
	<string>uni7031.glif</string>
	<key>uni7033</key>
	<string>uni7033.glif</string>
	<key>uni7033.HK</key>
	<string>uni7033.H_K_.glif</string>
	<key>uni7067</key>
	<string>uni7067.glif</string>
	<key>uni7071</key>
	<string>uni7071.glif</string>
	<key>uni7074</key>
	<string>uni7074.glif</string>
	<key>uni708B</key>
	<string>uni708B_.glif</string>
	<key>uni7093</key>
	<string>uni7093.glif</string>
	<key>uni70A3</key>
	<string>uni70A_3.glif</string>
	<key>uni70B7</key>
	<string>uni70B_7.glif</string>
	<key>uni70C5</key>
	<string>uni70C_5.glif</string>
	<key>uni70C6</key>
	<string>uni70C_6.glif</string>
	<key>uni70CC</key>
	<string>uni70C_C_.glif</string>
	<key>uni70CD</key>
	<string>uni70C_D_.glif</string>
	<key>uni70D2</key>
	<string>uni70D_2.glif</string>
	<key>uni70DA</key>
	<string>uni70D_A_.glif</string>
	<key>uni70EF</key>
	<string>uni70E_F_.glif</string>
	<key>uni70F3</key>
	<string>uni70F_3.glif</string>
	<key>uni70F4</key>
	<string>uni70F_4.glif</string>
	<key>uni710A</key>
	<string>uni710A_.glif</string>
	<key>uni7119.HK</key>
	<string>uni7119.H_K_.glif</string>
	<key>uni711F</key>
	<string>uni711F_.glif</string>
	<key>uni7128</key>
	<string>uni7128.glif</string>
	<key>uni712C</key>
	<string>uni712C_.glif</string>
	<key>uni713A</key>
	<string>uni713A_.glif</string>
	<key>uni713B</key>
	<string>uni713B_.glif</string>
	<key>uni7142</key>
	<string>uni7142.glif</string>
	<key>uni7144</key>
	<string>uni7144.glif</string>
	<key>uni714D</key>
	<string>uni714D_.glif</string>
	<key>uni714F</key>
	<string>uni714F_.glif</string>
	<key>uni7154</key>
	<string>uni7154.glif</string>
	<key>uni7158</key>
	<string>uni7158.glif</string>
	<key>uni715F</key>
	<string>uni715F_.glif</string>
	<key>uni7170</key>
	<string>uni7170.glif</string>
	<key>uni7178</key>
	<string>uni7178.glif</string>
	<key>uni717C</key>
	<string>uni717C_.glif</string>
	<key>uni7181</key>
	<string>uni7181.glif</string>
	<key>uni7182</key>
	<string>uni7182.glif</string>
	<key>uni71BC</key>
	<string>uni71B_C_.glif</string>
	<key>uni71BD</key>
	<string>uni71B_D_.glif</string>
	<key>uni71C6</key>
	<string>uni71C_6.glif</string>
	<key>uni71E4</key>
	<string>uni71E_4.glif</string>
	<key>uni71E4.inherited</key>
	<string>uni71E_4.inherited.glif</string>
	<key>uni71E8</key>
	<string>uni71E_8.glif</string>
	<key>uni7203</key>
	<string>uni7203.glif</string>
	<key>uni7205</key>
	<string>uni7205.glif</string>
	<key>uni720F</key>
	<string>uni720F_.glif</string>
	<key>uni721E</key>
	<string>uni721E_.glif</string>
	<key>uni7223</key>
	<string>uni7223.glif</string>
	<key>uni7227</key>
	<string>uni7227.glif</string>
	<key>uni7237</key>
	<string>uni7237.glif</string>
	<key>uni724A</key>
	<string>uni724A_.glif</string>
	<key>uni72A1</key>
	<string>uni72A_1.glif</string>
	<key>uni72A1.inherited</key>
	<string>uni72A_1.inherited.glif</string>
	<key>uni72C5</key>
	<string>uni72C_5.glif</string>
	<key>uni733C</key>
	<string>uni733C_.glif</string>
	<key>uni735B</key>
	<string>uni735B_.glif</string>
	<key>uni7373</key>
	<string>uni7373.glif</string>
	<key>uni7398.HK2</key>
	<string>uni7398.H_K_2.glif</string>
	<key>uni73A4</key>
	<string>uni73A_4.glif</string>
	<key>uni740D</key>
	<string>uni740D_.glif</string>
	<key>uni7423</key>
	<string>uni7423.glif</string>
	<key>uni7423.HK</key>
	<string>uni7423.H_K_.glif</string>
	<key>uni743C</key>
	<string>uni743C_.glif</string>
	<key>uni744C</key>
	<string>uni744C_.glif</string>
	<key>uni74FF.HK</key>
	<string>uni74F_F_.H_K_.glif</string>
	<key>uni7535</key>
	<string>uni7535.glif</string>
	<key>uni7684.HK</key>
	<string>uni7684.H_K_.glif</string>
	<key>uni76C5</key>
	<string>uni76C_5.glif</string>
	<key>uni76DA</key>
	<string>uni76D_A_.glif</string>
	<key>uni770F</key>
	<string>uni770F_.glif</string>
	<key>uni7732</key>
	<string>uni7732.glif</string>
	<key>uni7781</key>
	<string>uni7781.glif</string>
	<key>uni77A8</key>
	<string>uni77A_8.glif</string>
	<key>uni77CE</key>
	<string>uni77C_E_.glif</string>
	<key>uni77D3.HK</key>
	<string>uni77D_3.H_K_.glif</string>
	<key>uni781F</key>
	<string>uni781F_.glif</string>
	<key>uni7838</key>
	<string>uni7838.glif</string>
	<key>uni7889</key>
	<string>uni7889.glif</string>
	<key>uni789A.HK</key>
	<string>uni789A_.H_K_.glif</string>
	<key>uni78B0</key>
	<string>uni78B_0.glif</string>
	<key>uni78B0.inherited</key>
	<string>uni78B_0.inherited.glif</string>
	<key>uni78F0</key>
	<string>uni78F_0.glif</string>
	<key>uni78F1</key>
	<string>uni78F_1.glif</string>
	<key>uni791D</key>
	<string>uni791D_.glif</string>
	<key>uni7923</key>
	<string>uni7923.glif</string>
	<key>uni7923.HK</key>
	<string>uni7923.H_K_.glif</string>
	<key>uni7923.inherited</key>
	<string>uni7923.inherited.glif</string>
	<key>uni7964</key>
	<string>uni7964.glif</string>
	<key>uni7987</key>
	<string>uni7987.glif</string>
	<key>uni799A</key>
	<string>uni799A_.glif</string>
	<key>uni79A4</key>
	<string>uni79A_4.glif</string>
	<key>uni79EE</key>
	<string>uni79E_E_.glif</string>
	<key>uni7A2A</key>
	<string>uni7A_2A_.glif</string>
	<key>uni7A2C</key>
	<string>uni7A_2C_.glif</string>
	<key>uni7AB8</key>
	<string>uni7A_B_8.glif</string>
	<key>uni7ACB</key>
	<string>uni7A_C_B_.glif</string>
	<key>uni7AFC</key>
	<string>uni7A_F_C_.glif</string>
	<key>uni7B01</key>
	<string>uni7B_01.glif</string>
	<key>uni7B1A</key>
	<string>uni7B_1A_.glif</string>
	<key>uni7B1D</key>
	<string>uni7B_1D_.glif</string>
	<key>uni7B42</key>
	<string>uni7B_42.glif</string>
	<key>uni7B44</key>
	<string>uni7B_44.glif</string>
	<key>uni7B58</key>
	<string>uni7B_58.glif</string>
	<key>uni7B63</key>
	<string>uni7B_63.glif</string>
	<key>uni7B78</key>
	<string>uni7B_78.glif</string>
	<key>uni7B82</key>
	<string>uni7B_82.glif</string>
	<key>uni7BA3</key>
	<string>uni7B_A_3.glif</string>
	<key>uni7BD8</key>
	<string>uni7B_D_8.glif</string>
	<key>uni7BE2</key>
	<string>uni7B_E_2.glif</string>
	<key>uni7BF0.HK</key>
	<string>uni7B_F_0.H_K_.glif</string>
	<key>uni7BFB</key>
	<string>uni7B_F_B_.glif</string>
	<key>uni7BFD</key>
	<string>uni7B_F_D_.glif</string>
	<key>uni7BFF</key>
	<string>uni7B_F_F_.glif</string>
	<key>uni7C0A</key>
	<string>uni7C_0A_.glif</string>
	<key>uni7C1D</key>
	<string>uni7C_1D_.glif</string>
	<key>uni7C35</key>
	<string>uni7C_35.glif</string>
	<key>uni7C8E</key>
	<string>uni7C_8E_.glif</string>
	<key>uni7CCB</key>
	<string>uni7C_C_B_.glif</string>
	<key>uni7CD0</key>
	<string>uni7C_D_0.glif</string>
	<key>uni7D00.HK</key>
	<string>uni7D_00.H_K_.glif</string>
	<key>uni7D00.HK2</key>
	<string>uni7D_00.H_K_2.glif</string>
	<key>uni7D29</key>
	<string>uni7D_29.glif</string>
	<key>uni7D6D</key>
	<string>uni7D_6D_.glif</string>
	<key>uni7DB9</key>
	<string>uni7D_B_9.glif</string>
	<key>uni7DC1</key>
	<string>uni7D_C_1.glif</string>
	<key>uni7DD4</key>
	<string>uni7D_D_4.glif</string>
	<key>uni7DDF</key>
	<string>uni7D_D_F_.glif</string>
	<key>uni7E16</key>
	<string>uni7E_16.glif</string>
	<key>uni7E16.HK</key>
	<string>uni7E_16.H_K_.glif</string>
	<key>uni7E3D</key>
	<string>uni7E_3D_.glif</string>
	<key>uni7E4F</key>
	<string>uni7E_4F_.glif</string>
	<key>uni7E77</key>
	<string>uni7E_77.glif</string>
	<key>uni7E9F</key>
	<string>uni7E_9F_.glif</string>
	<key>uni7EA2</key>
	<string>uni7E_A_2.glif</string>
	<key>uni7ECF</key>
	<string>uni7E_C_F_.glif</string>
	<key>uni7ED9</key>
	<string>uni7E_D_9.glif</string>
	<key>uni7F7C</key>
	<string>uni7F_7C_.glif</string>
	<key>uni7F88</key>
	<string>uni7F_88.glif</string>
	<key>uni7FF1</key>
	<string>uni7F_F_1.glif</string>
	<key>uni8054</key>
	<string>uni8054.glif</string>
	<key>uni808A</key>
	<string>uni808A_.glif</string>
	<key>uni8090</key>
	<string>uni8090.glif</string>
	<key>uni8095</key>
	<string>uni8095.glif</string>
	<key>uni80C9</key>
	<string>uni80C_9.glif</string>
	<key>uni80D1</key>
	<string>uni80D_1.glif</string>
	<key>uni80E3</key>
	<string>uni80E_3.glif</string>
	<key>uni8115</key>
	<string>uni8115.glif</string>
	<key>uni8119</key>
	<string>uni8119.glif</string>
	<key>uni812A</key>
	<string>uni812A_.glif</string>
	<key>uni8134</key>
	<string>uni8134.glif</string>
	<key>uni8142</key>
	<string>uni8142.glif</string>
	<key>uni8144</key>
	<string>uni8144.glif</string>
	<key>uni8156</key>
	<string>uni8156.glif</string>
	<key>uni815C</key>
	<string>uni815C_.glif</string>
	<key>uni8162</key>
	<string>uni8162.glif</string>
	<key>uni816C</key>
	<string>uni816C_.glif</string>
	<key>uni81AB</key>
	<string>uni81A_B_.glif</string>
	<key>uni81D0</key>
	<string>uni81D_0.glif</string>
	<key>uni81E2</key>
	<string>uni81E_2.glif</string>
	<key>uni8215</key>
	<string>uni8215.glif</string>
	<key>uni827C</key>
	<string>uni827C_.glif</string>
	<key>uni8285</key>
	<string>uni8285.glif</string>
	<key>uni8291.HK</key>
	<string>uni8291.H_K_.glif</string>
	<key>uni8291.inherited</key>
	<string>uni8291.inherited.glif</string>
	<key>uni829E</key>
	<string>uni829E_.glif</string>
	<key>uni82B5</key>
	<string>uni82B_5.glif</string>
	<key>uni82C3</key>
	<string>uni82C_3.glif</string>
	<key>uni82D6</key>
	<string>uni82D_6.glif</string>
	<key>uni82F2</key>
	<string>uni82F_2.glif</string>
	<key>uni82F5</key>
	<string>uni82F_5.glif</string>
	<key>uni82F8</key>
	<string>uni82F_8.glif</string>
	<key>uni82FC</key>
	<string>uni82F_C_.glif</string>
	<key>uni8319</key>
	<string>uni8319.glif</string>
	<key>uni8320</key>
	<string>uni8320.glif</string>
	<key>uni8326</key>
	<string>uni8326.glif</string>
	<key>uni833F</key>
	<string>uni833F_.glif</string>
	<key>uni8341</key>
	<string>uni8341.glif</string>
	<key>uni834B</key>
	<string>uni834B_.glif</string>
	<key>uni8374</key>
	<string>uni8374.glif</string>
	<key>uni8381</key>
	<string>uni8381.glif</string>
	<key>uni838B</key>
	<string>uni838B_.glif</string>
	<key>uni8390</key>
	<string>uni8390.glif</string>
	<key>uni8397</key>
	<string>uni8397.glif</string>
	<key>uni83A4</key>
	<string>uni83A_4.glif</string>
	<key>uni83AE</key>
	<string>uni83A_E_.glif</string>
	<key>uni83AF</key>
	<string>uni83A_F_.glif</string>
	<key>uni83C4</key>
	<string>uni83C_4.glif</string>
	<key>uni83CB</key>
	<string>uni83C_B_.glif</string>
	<key>uni83D7</key>
	<string>uni83D_7.glif</string>
	<key>uni83E9.HK</key>
	<string>uni83E_9.H_K_.glif</string>
	<key>uni83E9.HK2</key>
	<string>uni83E_9.H_K_2.glif</string>
	<key>uni83E9.inherited</key>
	<string>uni83E_9.inherited.glif</string>
	<key>uni8500.HK</key>
	<string>uni8500.H_K_.glif</string>
	<key>uni8500.HK2</key>
	<string>uni8500.H_K_2.glif</string>
	<key>uni8500.inherited</key>
	<string>uni8500.inherited.glif</string>
	<key>uni87D1.HK</key>
	<string>uni87D_1.H_K_.glif</string>
	<key>uni8914</key>
	<string>uni8914.glif</string>
	<key>uni8921</key>
	<string>uni8921.glif</string>
	<key>uni8921.HK</key>
	<string>uni8921.H_K_.glif</string>
	<key>uni898A</key>
	<string>uni898A_.glif</string>
	<key>uni898A.inherited</key>
	<string>uni898A_.inherited.glif</string>
	<key>uni8A18.HK</key>
	<string>uni8A_18.H_K_.glif</string>
	<key>uni8A18.HK2</key>
	<string>uni8A_18.H_K_2.glif</string>
	<key>uni8A4F</key>
	<string>uni8A_4F_.glif</string>
	<key>uni8B40</key>
	<string>uni8B_40.glif</string>
	<key>uni8BA0</key>
	<string>uni8B_A_0.glif</string>
	<key>uni8BA1</key>
	<string>uni8B_A_1.glif</string>
	<key>uni8BA4</key>
	<string>uni8B_A_4.glif</string>
	<key>uni8BA9</key>
	<string>uni8B_A_9.glif</string>
	<key>uni8BBE</key>
	<string>uni8B_B_E_.glif</string>
	<key>uni8BDD</key>
	<string>uni8B_D_D_.glif</string>
	<key>uni8BED</key>
	<string>uni8B_E_D_.glif</string>
	<key>uni8BF4</key>
	<string>uni8B_F_4.glif</string>
	<key>uni8BF7</key>
	<string>uni8B_F_7.glif</string>
	<key>uni8BFE</key>
	<string>uni8B_F_E_.glif</string>
	<key>uni8C01</key>
	<string>uni8C_01.glif</string>
	<key>uni8CE0.HK</key>
	<string>uni8C_E_0.H_K_.glif</string>
	<key>uni8D77.HK</key>
	<string>uni8D_77.H_K_.glif</string>
	<key>uni8D77.JP</key>
	<string>uni8D_77.J_P_.glif</string>
	<key>uni8DB4</key>
	<string>uni8D_B_4.glif</string>
	<key>uni8E23.HK</key>
	<string>uni8E_23.H_K_.glif</string>
	<key>uni8E29</key>
	<string>uni8E_29.glif</string>
	<key>uni8E2B</key>
	<string>uni8E_2B_.glif</string>
	<key>uni8E2B.inherited</key>
	<string>uni8E_2B_.inherited.glif</string>
	<key>uni8E66</key>
	<string>uni8E_66.glif</string>
	<key>uni8E66.JP</key>
	<string>uni8E_66.J_P_.glif</string>
	<key>uni8F49.HK</key>
	<string>uni8F_49.H_K_.glif</string>
	<key>uni8FCC</key>
	<string>uni8F_C_C_.glif</string>
	<key>uni8FCC.HK</key>
	<string>uni8F_C_C_.H_K_.glif</string>
	<key>uni8FD8</key>
	<string>uni8F_D_8.glif</string>
	<key>uni9024</key>
	<string>uni9024.glif</string>
	<key>uni9094</key>
	<string>uni9094.glif</string>
	<key>uni90E8.HK</key>
	<string>uni90E_8.H_K_.glif</string>
	<key>uni914C.HK</key>
	<string>uni914C_.H_K_.glif</string>
	<key>uni914D</key>
	<string>uni914D_.glif</string>
	<key>uni914D.HK2</key>
	<string>uni914D_.H_K_2.glif</string>
	<key>uni9185.HK</key>
	<string>uni9185.H_K_.glif</string>
	<key>uni9202</key>
	<string>uni9202.glif</string>
	<key>uni9203</key>
	<string>uni9203.glif</string>
	<key>uni922A</key>
	<string>uni922A_.glif</string>
	<key>uni9231</key>
	<string>uni9231.glif</string>
	<key>uni924C</key>
	<string>uni924C_.glif</string>
	<key>uni9254</key>
	<string>uni9254.glif</string>
	<key>uni92A3</key>
	<string>uni92A_3.glif</string>
	<key>uni92A6</key>
	<string>uni92A_6.glif</string>
	<key>uni92AA</key>
	<string>uni92A_A_.glif</string>
	<key>uni92C9</key>
	<string>uni92C_9.glif</string>
	<key>uni92CA</key>
	<string>uni92C_A_.glif</string>
	<key>uni92E6</key>
	<string>uni92E_6.glif</string>
	<key>uni92EF</key>
	<string>uni92E_F_.glif</string>
	<key>uni9307</key>
	<string>uni9307.glif</string>
	<key>uni9307.HK</key>
	<string>uni9307.H_K_.glif</string>
	<key>uni9312</key>
	<string>uni9312.glif</string>
	<key>uni9338</key>
	<string>uni9338.glif</string>
	<key>uni933C</key>
	<string>uni933C_.glif</string>
	<key>uni934F</key>
	<string>uni934F_.glif</string>
	<key>uni934F.inherited</key>
	<string>uni934F_.inherited.glif</string>
	<key>uni9379</key>
	<string>uni9379.glif</string>
	<key>uni9385</key>
	<string>uni9385.glif</string>
	<key>uni93A6</key>
	<string>uni93A_6.glif</string>
	<key>uni93B3</key>
	<string>uni93B_3.glif</string>
	<key>uni93C0</key>
	<string>uni93C_0.glif</string>
	<key>uni93F9</key>
	<string>uni93F_9.glif</string>
	<key>uni93F9.HK</key>
	<string>uni93F_9.H_K_.glif</string>
	<key>uni9420</key>
	<string>uni9420.glif</string>
	<key>uni9424</key>
	<string>uni9424.glif</string>
	<key>uni9427</key>
	<string>uni9427.glif</string>
	<key>uni9440</key>
	<string>uni9440.glif</string>
	<key>uni9440.HK</key>
	<string>uni9440.H_K_.glif</string>
	<key>uni9476</key>
	<string>uni9476.glif</string>
	<key>uni9476.HK</key>
	<string>uni9476.H_K_.glif</string>
	<key>uni9485</key>
	<string>uni9485.glif</string>
	<key>uni9595</key>
	<string>uni9595.glif</string>
	<key>uni9595.JP</key>
	<string>uni9595.J_P_.glif</string>
	<key>uni95AA</key>
	<string>uni95A_A_.glif</string>
	<key>uni95E8</key>
	<string>uni95E_8.glif</string>
	<key>uni95EE</key>
	<string>uni95E_E_.glif</string>
	<key>uni966A.HK</key>
	<string>uni966A_.H_K_.glif</string>
	<key>uni979B</key>
	<string>uni979B_.glif</string>
	<key>uni979B.HK</key>
	<string>uni979B_.H_K_.glif</string>
	<key>uni97F9</key>
	<string>uni97F_9.glif</string>
	<key>uni97F9.HK</key>
	<string>uni97F_9.H_K_.glif</string>
	<key>uni98CE</key>
	<string>uni98C_E_.glif</string>
	<key>uni98DE</key>
	<string>uni98D_E_.glif</string>
	<key>uni9963</key>
	<string>uni9963.glif</string>
	<key>uni996D</key>
	<string>uni996D_.glif</string>
	<key>uni9971</key>
	<string>uni9971.glif</string>
	<key>uni9A6C</key>
	<string>uni9A_6C_.glif</string>
	<key>uni9B1E</key>
	<string>uni9B_1E_.glif</string>
	<key>uni9D4B</key>
	<string>uni9D_4B_.glif</string>
	<key>uni9EB5</key>
	<string>uni9E_B_5.glif</string>
	<key>uni9EBA</key>
	<string>uni9E_B_A_.glif</string>
	<key>uni9F22</key>
	<string>uni9F_22.glif</string>
	<key>uni9F98</key>
	<string>uni9F_98.glif</string>
	<key>uni9F98.HK</key>
	<string>uni9F_98.H_K_.glif</string>
	<key>uni9F99</key>
	<string>uni9F_99.glif</string>
	<key>uni9FC5</key>
	<string>uni9F_C_5.glif</string>
	<key>uni9FC5.JP</key>
	<string>uni9F_C_5.J_P_.glif</string>
	<key>uni9FC6</key>
	<string>uni9F_C_6.glif</string>
</dict>
</plist>
