<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>ROS</string>
			<key>value</key>
			<string>Adobe-Identity-0</string>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>435FFEB5-1267-4A4D-8575-60B204161920</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.master.name</key>
	<string>Heavy</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>1000</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>uni4E49</string>
		<string>uni4E49.JP</string>
		<string>uni4E49.noaxe</string>
		<string>uni4FC1</string>
		<string>uni4FDE.inherited</string>
		<string>uni506F</string>
		<string>uni515D</string>
		<string>uni5241</string>
		<string>uni53FC</string>
		<string>uni5406</string>
		<string>uni5433</string>
		<string>uni5478</string>
		<string>uni549A</string>
		<string>uni552C</string>
		<string>uni5537</string>
		<string>uni5555</string>
		<string>uni55B3</string>
		<string>uni55B3.JP</string>
		<string>uni55E1</string>
		<string>uni567A.HK</string>
		<string>uni57C2</string>
		<string>uni5A1B</string>
		<string>uni5AFA.HK</string>
		<string>uni5B53</string>
		<string>uni5B53.noaxe</string>
		<string>uni5BF3</string>
		<string>uni5C44</string>
		<string>uni5C44.JP</string>
		<string>uni609E</string>
		<string>uni60E6</string>
		<string>uni6286</string>
		<string>uni65B0.HK</string>
		<string>uni6757</string>
		<string>uni6757.JP</string>
		<string>uni6AE5</string>
		<string>uni6AEC.HK</string>
		<string>uni6C26</string>
		<string>uni6C26.HK</string>
		<string>uni6C61</string>
		<string>uni752D</string>
		<string>uni7684.HK</string>
		<string>uni7CB5</string>
		<string>uni7D00.HK</string>
		<string>uni7D00.HK2</string>
		<string>uni7DD4</string>
		<string>uni7E9F</string>
		<string>uni85AA.HK</string>
		<string>uni85AA.HK2</string>
		<string>uni88AB.HK</string>
		<string>uni8921</string>
		<string>uni8921.HK</string>
		<string>uni8921.HK2</string>
		<string>uni8921.inherited</string>
		<string>uni896C.HK</string>
		<string>uni896F.HK</string>
		<string>uni89AA.HK</string>
		<string>uni8A18.HK</string>
		<string>uni8A18.HK2</string>
		<string>uni8A68</string>
		<string>uni8AA4</string>
		<string>uni8BA0</string>
		<string>uni8D77.HK</string>
		<string>uni90E8.HK</string>
		<string>uni92D8</string>
		<string>uni93A6</string>
		<string>uni9485</string>
		<string>uni97F9.HK</string>
		<string>uni98CE</string>
		<string>uni9963</string>
		<string>u270FD</string>
		<string>u270FD.inherited</string>
	</array>
</dict>
</plist>
