<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>u20EAC.HK</key>
	<string>u20E_A_C_.H_K_.glif</string>
	<key>u2124F</key>
	<string>u2124F_.glif</string>
	<key>u216B1</key>
	<string>u216B_1.glif</string>
	<key>u270FD</key>
	<string>u270F_D_.glif</string>
	<key>u270FD.inherited</key>
	<string>u270F_D_.inherited.glif</string>
	<key>uni3B0A</key>
	<string>uni3B_0A_.glif</string>
	<key>uni4E3D</key>
	<string>uni4E_3D_.glif</string>
	<key>uni4E3D.HK</key>
	<string>uni4E_3D_.H_K_.glif</string>
	<key>uni4E3D.JP</key>
	<string>uni4E_3D_.J_P_.glif</string>
	<key>uni4E49</key>
	<string>uni4E_49.glif</string>
	<key>uni4E49.JP</key>
	<string>uni4E_49.J_P_.glif</string>
	<key>uni500D.HK</key>
	<string>uni500D_.H_K_.glif</string>
	<key>uni506E</key>
	<string>uni506E_.glif</string>
	<key>uni507A</key>
	<string>uni507A_.glif</string>
	<key>uni516C</key>
	<string>uni516C_.glif</string>
	<key>uni5170</key>
	<string>uni5170.glif</string>
	<key>uni5173</key>
	<string>uni5173.glif</string>
	<key>uni5241</key>
	<string>uni5241.glif</string>
	<key>uni524E.inherited</key>
	<string>uni524E_.inherited.glif</string>
	<key>uni5256.HK</key>
	<string>uni5256.H_K_.glif</string>
	<key>uni5482</key>
	<string>uni5482.glif</string>
	<key>uni5485.HK</key>
	<string>uni5485.H_K_.glif</string>
	<key>uni549A</key>
	<string>uni549A_.glif</string>
	<key>uni54A3</key>
	<string>uni54A_3.glif</string>
	<key>uni552C</key>
	<string>uni552C_.glif</string>
	<key>uni555F</key>
	<string>uni555F_.glif</string>
	<key>uni55B3.JP</key>
	<string>uni55B_3.J_P_.glif</string>
	<key>uni55E1</key>
	<string>uni55E_1.glif</string>
	<key>uni55EF</key>
	<string>uni55E_F_.glif</string>
	<key>uni5657</key>
	<string>uni5657.glif</string>
	<key>uni56C6</key>
	<string>uni56C_6.glif</string>
	<key>uni57B9.inherited</key>
	<string>uni57B_9.inherited.glif</string>
	<key>uni57F9.HK</key>
	<string>uni57F_9.H_K_.glif</string>
	<key>uni58C6</key>
	<string>uni58C_6.glif</string>
	<key>uni5983.HK</key>
	<string>uni5983.H_K_.glif</string>
	<key>uni5A44.HK</key>
	<string>uni5A_44.H_K_.glif</string>
	<key>uni5AFA.HK</key>
	<string>uni5A_F_A_.H_K_.glif</string>
	<key>uni5B24</key>
	<string>uni5B_24.glif</string>
	<key>uni5B53</key>
	<string>uni5B_53.glif</string>
	<key>uni5BF3</key>
	<string>uni5B_F_3.glif</string>
	<key>uni5C49</key>
	<string>uni5C_49.glif</string>
	<key>uni5C58</key>
	<string>uni5C_58.glif</string>
	<key>uni5F12</key>
	<string>uni5F_12.glif</string>
	<key>uni5F12.inherited</key>
	<string>uni5F_12.inherited.glif</string>
	<key>uni5FCC.HK</key>
	<string>uni5F_C_C_.H_K_.glif</string>
	<key>uni5FCC.HK2</key>
	<string>uni5F_C_C_.H_K_2.glif</string>
	<key>uni6039</key>
	<string>uni6039.glif</string>
	<key>uni6073</key>
	<string>uni6073.glif</string>
	<key>uni60F3</key>
	<string>uni60F_3.glif</string>
	<key>uni611B.HK</key>
	<string>uni611B_.H_K_.glif</string>
	<key>uni6123.HK</key>
	<string>uni6123.H_K_.glif</string>
	<key>uni62CB</key>
	<string>uni62C_B_.glif</string>
	<key>uni638A.HK</key>
	<string>uni638A_.H_K_.glif</string>
	<key>uni63CD</key>
	<string>uni63C_D_.glif</string>
	<key>uni63CD.JP</key>
	<string>uni63C_D_.J_P_.glif</string>
	<key>uni63DE</key>
	<string>uni63D_E_.glif</string>
	<key>uni63DE.HK</key>
	<string>uni63D_E_.H_K_.glif</string>
	<key>uni6568</key>
	<string>uni6568.glif</string>
	<key>uni6568.HK</key>
	<string>uni6568.H_K_.glif</string>
	<key>uni66A8.HK</key>
	<string>uni66A_8.H_K_.glif</string>
	<key>uni6703.inherited</key>
	<string>uni6703.inherited.glif</string>
	<key>uni6757</key>
	<string>uni6757.glif</string>
	<key>uni6757.JP</key>
	<string>uni6757.J_P_.glif</string>
	<key>uni68D3.HK</key>
	<string>uni68D_3.H_K_.glif</string>
	<key>uni69A3</key>
	<string>uni69A_3.glif</string>
	<key>uni6AE5</key>
	<string>uni6A_E_5.glif</string>
	<key>uni6B5C</key>
	<string>uni6B_5C_.glif</string>
	<key>uni6B95.HK</key>
	<string>uni6B_95.H_K_.glif</string>
	<key>uni6BF0</key>
	<string>uni6B_F_0.glif</string>
	<key>uni6BF0.HK</key>
	<string>uni6B_F_0.H_K_.glif</string>
	<key>uni6C26</key>
	<string>uni6C_26.glif</string>
	<key>uni6C26.JP</key>
	<string>uni6C_26.J_P_.glif</string>
	<key>uni6C8E</key>
	<string>uni6C_8E_.glif</string>
	<key>uni6CB7</key>
	<string>uni6C_B_7.glif</string>
	<key>uni6DAA.HK</key>
	<string>uni6D_A_A_.H_K_.glif</string>
	<key>uni6FB4</key>
	<string>uni6F_B_4.glif</string>
	<key>uni7119.HK</key>
	<string>uni7119.H_K_.glif</string>
	<key>uni7423</key>
	<string>uni7423.glif</string>
	<key>uni7423.HK</key>
	<string>uni7423.H_K_.glif</string>
	<key>uni74FF.HK</key>
	<string>uni74F_F_.H_K_.glif</string>
	<key>uni7684.HK</key>
	<string>uni7684.H_K_.glif</string>
	<key>uni77D3.HK</key>
	<string>uni77D_3.H_K_.glif</string>
	<key>uni781F</key>
	<string>uni781F_.glif</string>
	<key>uni7838</key>
	<string>uni7838.glif</string>
	<key>uni7889</key>
	<string>uni7889.glif</string>
	<key>uni789A.HK</key>
	<string>uni789A_.H_K_.glif</string>
	<key>uni78B0</key>
	<string>uni78B_0.glif</string>
	<key>uni78B0.inherited</key>
	<string>uni78B_0.inherited.glif</string>
	<key>uni7B58</key>
	<string>uni7B_58.glif</string>
	<key>uni7BF0.HK</key>
	<string>uni7B_F_0.H_K_.glif</string>
	<key>uni7D00.HK</key>
	<string>uni7D_00.H_K_.glif</string>
	<key>uni7D00.HK2</key>
	<string>uni7D_00.H_K_2.glif</string>
	<key>uni7DD4</key>
	<string>uni7D_D_4.glif</string>
	<key>uni7E9F</key>
	<string>uni7E_9F_.glif</string>
	<key>uni7FF1</key>
	<string>uni7F_F_1.glif</string>
	<key>uni8054</key>
	<string>uni8054.glif</string>
	<key>uni81E2</key>
	<string>uni81E_2.glif</string>
	<key>uni83E9.HK</key>
	<string>uni83E_9.H_K_.glif</string>
	<key>uni83E9.HK2</key>
	<string>uni83E_9.H_K_2.glif</string>
	<key>uni83E9.inherited</key>
	<string>uni83E_9.inherited.glif</string>
	<key>uni8500.HK</key>
	<string>uni8500.H_K_.glif</string>
	<key>uni8500.HK2</key>
	<string>uni8500.H_K_2.glif</string>
	<key>uni8500.inherited</key>
	<string>uni8500.inherited.glif</string>
	<key>uni87D1.HK</key>
	<string>uni87D_1.H_K_.glif</string>
	<key>uni8921</key>
	<string>uni8921.glif</string>
	<key>uni8921.HK</key>
	<string>uni8921.H_K_.glif</string>
	<key>uni8A18.HK</key>
	<string>uni8A_18.H_K_.glif</string>
	<key>uni8A18.HK2</key>
	<string>uni8A_18.H_K_2.glif</string>
	<key>uni8BA0</key>
	<string>uni8B_A_0.glif</string>
	<key>uni8CE0.HK</key>
	<string>uni8C_E_0.H_K_.glif</string>
	<key>uni8D77.HK</key>
	<string>uni8D_77.H_K_.glif</string>
	<key>uni8DB4</key>
	<string>uni8D_B_4.glif</string>
	<key>uni8E23.HK</key>
	<string>uni8E_23.H_K_.glif</string>
	<key>uni8E29</key>
	<string>uni8E_29.glif</string>
	<key>uni8E2B</key>
	<string>uni8E_2B_.glif</string>
	<key>uni8E2B.inherited</key>
	<string>uni8E_2B_.inherited.glif</string>
	<key>uni8E66</key>
	<string>uni8E_66.glif</string>
	<key>uni8E66.JP</key>
	<string>uni8E_66.J_P_.glif</string>
	<key>uni8F49.HK</key>
	<string>uni8F_49.H_K_.glif</string>
	<key>uni90E8.HK</key>
	<string>uni90E_8.H_K_.glif</string>
	<key>uni914D.HK2</key>
	<string>uni914D_.H_K_2.glif</string>
	<key>uni9185.HK</key>
	<string>uni9185.H_K_.glif</string>
	<key>uni9307</key>
	<string>uni9307.glif</string>
	<key>uni9307.HK</key>
	<string>uni9307.H_K_.glif</string>
	<key>uni93A6</key>
	<string>uni93A_6.glif</string>
	<key>uni93B3</key>
	<string>uni93B_3.glif</string>
	<key>uni9485</key>
	<string>uni9485.glif</string>
	<key>uni966A.HK</key>
	<string>uni966A_.H_K_.glif</string>
	<key>uni979B</key>
	<string>uni979B_.glif</string>
	<key>uni979B.HK</key>
	<string>uni979B_.H_K_.glif</string>
	<key>uni97F9</key>
	<string>uni97F_9.glif</string>
	<key>uni97F9.HK</key>
	<string>uni97F_9.H_K_.glif</string>
	<key>uni98CE</key>
	<string>uni98C_E_.glif</string>
	<key>uni9963</key>
	<string>uni9963.glif</string>
</dict>
</plist>
