<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>ROS</string>
			<key>value</key>
			<string>Adobe-Identity-0</string>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>m01</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.master.name</key>
	<string>ExtraLight</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>0</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>uni3B0A</string>
		<string>uni4E3D</string>
		<string>uni4E3D.HK</string>
		<string>uni4E3D.JP</string>
		<string>uni4E49</string>
		<string>uni4E49.JP</string>
		<string>uni500D.HK</string>
		<string>uni506E</string>
		<string>uni507A</string>
		<string>uni516C</string>
		<string>uni5170</string>
		<string>uni5173</string>
		<string>uni5241</string>
		<string>uni524E</string>
		<string>uni524E.inherited</string>
		<string>uni5256.HK</string>
		<string>uni5482</string>
		<string>uni5485.HK</string>
		<string>uni549A</string>
		<string>uni54A3</string>
		<string>uni552C</string>
		<string>uni555F</string>
		<string>uni55B3.JP</string>
		<string>uni55E1</string>
		<string>uni55EF</string>
		<string>uni5657</string>
		<string>uni56C6</string>
		<string>uni57B9</string>
		<string>uni57B9.inherited</string>
		<string>uni57F9.HK</string>
		<string>uni58C6</string>
		<string>uni5983.HK</string>
		<string>uni5A44.HK</string>
		<string>uni5AFA.HK</string>
		<string>uni5B24</string>
		<string>uni5B53</string>
		<string>uni5BF3</string>
		<string>uni5C49</string>
		<string>uni5C58</string>
		<string>uni5F12</string>
		<string>uni5F12.inherited</string>
		<string>uni5FCC.HK</string>
		<string>uni5FCC.HK2</string>
		<string>uni6039</string>
		<string>uni6073</string>
		<string>uni60F3</string>
		<string>uni611B.HK</string>
		<string>uni62CB</string>
		<string>uni638A.HK</string>
		<string>uni63CD</string>
		<string>uni63CD.JP</string>
		<string>uni63DE</string>
		<string>uni63DE.HK</string>
		<string>uni6568</string>
		<string>uni6568.HK</string>
		<string>uni66A8.HK</string>
		<string>uni6703.inherited</string>
		<string>uni6757</string>
		<string>uni6757.JP</string>
		<string>uni68D3.HK</string>
		<string>uni69A3</string>
		<string>uni6AE5</string>
		<string>uni6B5C</string>
		<string>uni6B95.HK</string>
		<string>uni6BF0</string>
		<string>uni6BF0.HK</string>
		<string>uni6C26</string>
		<string>uni6C26.JP</string>
		<string>uni6C8E</string>
		<string>uni6CB7</string>
		<string>uni6DAA.HK</string>
		<string>uni6FB4</string>
		<string>uni7119.HK</string>
		<string>uni7423</string>
		<string>uni7423.HK</string>
		<string>uni74FF.HK</string>
		<string>uni7684.HK</string>
		<string>uni77D3.HK</string>
		<string>uni781F</string>
		<string>uni7838</string>
		<string>uni7889</string>
		<string>uni789A.HK</string>
		<string>uni78B0</string>
		<string>uni78B0.inherited</string>
		<string>uni7B58</string>
		<string>uni7BF0.HK</string>
		<string>uni7D00.HK</string>
		<string>uni7D00.HK2</string>
		<string>uni7DD4</string>
		<string>uni7E9F</string>
		<string>uni7FF1</string>
		<string>uni8054</string>
		<string>uni81E2</string>
		<string>uni83E9.HK</string>
		<string>uni83E9.HK2</string>
		<string>uni83E9.inherited</string>
		<string>uni8500.HK</string>
		<string>uni8500.HK2</string>
		<string>uni8500.inherited</string>
		<string>uni87D1.HK</string>
		<string>uni8921</string>
		<string>uni8921.HK</string>
		<string>uni8A18.HK</string>
		<string>uni8A18.HK2</string>
		<string>uni8BA0</string>
		<string>uni8CE0.HK</string>
		<string>uni8D77.HK</string>
		<string>uni8DB4</string>
		<string>uni8E23.HK</string>
		<string>uni8E29</string>
		<string>uni8E2B</string>
		<string>uni8E2B.inherited</string>
		<string>uni8E66</string>
		<string>uni8E66.JP</string>
		<string>uni8F49.HK</string>
		<string>uni90E8.HK</string>
		<string>uni914D.HK2</string>
		<string>uni9185.HK</string>
		<string>uni9307</string>
		<string>uni9307.HK</string>
		<string>uni93A6</string>
		<string>uni93B3</string>
		<string>uni9485</string>
		<string>uni966A.HK</string>
		<string>uni979B</string>
		<string>uni979B.HK</string>
		<string>uni97F9</string>
		<string>uni97F9.HK</string>
		<string>uni98CE</string>
		<string>uni9963</string>
		<string>u20EAC.HK</string>
		<string>u2124F</string>
		<string>u216B1</string>
		<string>u270FD</string>
		<string>u270FD.inherited</string>
	</array>
</dict>
</plist>
